<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>manageBusiness</title>
    <!-- Bootstrap Core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <!-- MetisMenu CSS -->
    <link th:href="@{/css/metisMenu.min.css}" rel="stylesheet">
    <!-- DataTables CSS -->
    <link th:href="@{/css/dataTables.bootstrap.css}" rel="stylesheet">
    <!-- DataTables Responsive CSS -->
    <link th:href="@{/css/dataTables.responsive.css}" rel="stylesheet">
    <!-- Custom CSS -->
    <link th:href="@{/css/sb-admin-2.css}" rel="stylesheet">
    <!-- Custom Fonts -->
    <link th:href="@{/css/font-awesome/css/font-awesome.min.css}" rel="stylesheet">
</head>

<body>
    <div id="wrapper">
		<!-- Navigation引入头部公共页面 -->
		<div th:include="head :: headContent"></div>
		<!-- 左侧导航栏引入 -->
		<div th:include="sidebar :: sidebarContent"></div>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">流程状态管理</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                        	新增或修改流程状态信息
                        	<a id="getBusinessId" th:text="${businessId}" style="display:none;"></a>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body" >
                            <div class="row">
                            	<div class="col-lg-8">
                            		<div class="form-inline">
                            			<lable>流程状态</lable>:
                            			<input class="form-control" id="name" style="width:200px;" type="text" value="">
                            		</div>
                            	</div>
                            </div>
                            <br/>
                            <div class="col-lg-7">
                            	<button class="btn btn-default" id="btn" type="submit">提交</button>
                            	<button class="btn btn-default" id="reset" type="reset">重置</button>
                            </div>
                        </div>                      
                    </div>	
                </div>
            </div>
        </div>
    </div>
</body>
<script th:src="@{/js/jquery-3.1.0.min.js}"></script>
<!-- Bootstrap Core JavaScript -->
<script th:src="@{/js/bootstrap.min.js}"></script>
<!-- Metis Menu Plugin JavaScript -->
<script th:src="@{/js/metisMenu.min.js}"></script>
<!-- Custom Theme JavaScript -->
<script th:src="@{/js/sb-admin-2.js}"></script>
<!-- DataTables JavaScript -->
<script th:src="@{/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/js/dataTables.bootstrap.min.js}"></script>
<script th:src="@{/js/dataTables.responsive.js}"></script>
<script type="text/javascript">
$(function(){
	//查询部门
	pager();//获取修改部门信息
})
    $(document).ready(function() {
    	//bootstrap自动分页插件
        /* $('#dataTables-example').DataTable({
            responsive: true
        }); */
    });
    
    //查询所有部门信息
    function pager(){
    	$.ajax({
    		url :"/queryBusinessById",
    		type:"post",
    		data:{id:$("#getBusinessId").text()},
    		success :function(result){
     			$.each(result[0].data, function (i, n){
     				$("#getBusinessId").val(n.id);
     				$("#name").val(n.businessstatus); 				 				
    			});
    		}
    	});
    }

    //重置
    $("#reset").click(function(){
    	window.location.reload();
    });
    
    //提交
    $("#btn").click(function(){
    	if($("#getBusinessId").text()==0){
    		$.ajax({
    			url:"/insertBusiness",
    			type:"post",
    			data:{name:$("#name").val()},
    			success :function(result){
    				if(result==1){
    					location.href="/businessHtml";
    				}
    			}
    		});
    	}else{
    		$.ajax({
    			url:"/updateBusiness",
    			type:"post",
    			data:{name:$("#name").val(),id:$("#getBusinessId").text()},
    			success :function(result){
    				if(result==1){
    					location.href="/businessHtml";
    				}
    			}
    		});
    	}   	
    });
</script>
</html>
