<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>tablelist</title>
    <!-- Bootstrap Core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <!-- MetisMenu CSS -->
    <link th:href="@{/css/metisMenu.min.css}" rel="stylesheet">
    <!-- Custom CSS -->
    <link th:href="@{/css/sb-admin-2.css}" rel="stylesheet">
    <!-- Custom Fonts -->
    <link th:href="@{/css/font-awesome/css/font-awesome.min.css}" rel="stylesheet">
</head>

<body>
    <div id="wrapper">
		<!-- Navigation引入头部公共页面 -->
		<div th:include="head :: headContent"></div>
		<!-- 左侧导航栏引入 -->
		<div th:include="sidebar :: sidebarContent"></div>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">流程表单明细</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
							数据查询结果
							<input type="text" id="dept" style="display:none;"></input>
							<input type="text" id="chooseValue" style="display:none;"></input>
							<a id="getInfoTable" th:text="${infoTable}" style="display:none;"></a>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body" id="tableContent">
                            <!--table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                            </table-->
                        </div>
                        <!-- /.panel-body -->             
                    </div>
        <!-- 月结算清单分页列表 -->
  		<div style="padding-top: 10px;margin-left: 1%;width:60%;display:none;" id="pager">
			<button class="btn btn-default" id="billshouye" style="cursor: pointer;">首页</button>
			<button class="btn btn-default" id="billfront" style="cursor: pointer;">上一页</button>
			<button class="btn btn-default" id="billnext" style="cursor: pointer;">下一页</button>
			<button class="btn btn-default" id="billweiye" style="cursor: pointer;">尾页</button>
			&nbsp;
			<label class="billdangqian"></label>
			<label class="billgong"></label>
			<label class="billNum"></label>
		</div>	
  		<div style="display: none;">
			<input type="text" id="billcountPage" value="15"></input>
			<input type="text" id="billcurrentPage" value="1"></input>
		</div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
</body>
<script th:src="@{/js/jquery-3.1.0.min.js}"></script>
<!-- Bootstrap Core JavaScript -->
<script th:src="@{/js/bootstrap.min.js}"></script>
<!-- Metis Menu Plugin JavaScript -->
<script th:src="@{/js/metisMenu.min.js}"></script>
<!-- Custom Theme JavaScript -->
<script th:src="@{/js/sb-admin-2.js}"></script>
<script type="text/javascript">
var billList = "";
var billTitle = "";
$(function(){
	queryTableWorkbook();
	getDept();//查询部门
})
    $(document).ready(function() {

    });
  	
    //根据表名查询表(需要查询字典表和tablename表拼接)
    function queryTableWorkbook(){
    	//查询字典表
    	$.ajax({
    		url :"/infoQueryAllTableWorkbook",
    		type:"post",
    		data:{tablename:$("#getInfoTable").text()},
    		async: false,
    		success :function(result){  
    			console.log(result);
    			//console.log(result[0].data[0].tablenamecn+"--获取表名");
    			$("#getInfoTable").val(result[0].data[0].tablenamepy);
    			$.each(result[0].data, function (i, n){
    				//console.log(n.tablenamecn+"--"+n.columnnamecn);   				
    				if(n.columnnamecn!="版本"){
    					billTitle = billTitle+"<td>"+n.columnnamecn+"</td>";
    				}    				
    			});
    			billTitle = "<thead><tr><td>编号</td>"+billTitle+"<td>操作</td></tr></thead>";//拼接表头
    			queryTable();//查询表数据		
    		}
    	});
    }
    
    //查询表中数据
    function queryTable(){
    	$.ajax({
    		url :"/queryInfoTable",
    		type:"post",
    		data:{tablename:$("#getInfoTable").text()},
    		success :function(result){
    			var idValue = 1;
    			var versionController = "";
    			var parsedJson = jQuery.parseJSON(result); 
    			var roleDept = "";
    			for(var i=0,l=parsedJson.length;i<l;i++){
    				for(var key in parsedJson[i]){
    					//console.log(key+':'+parsedJson[i][key]+"==");    					
    					if(key=="role"){
    						roleDept = parsedJson[i][key];
    					}
    					if(parsedJson[i][key]=="是"){
    						//alert(key);
    						billList =billList+"<td name="+idValue+" class="+key+idValue+"><input type='radio' value='是' name='"+key+"' checked>是</input>    <input type='radio' value='否' name='"+key+"'>否</input></td>";
    					}else if(parsedJson[i][key]=="否"){
    						billList =billList+"<td name="+idValue+" class="+key+idValue+"><input type='radio' value='是' name='"+key+"'>是</input>    <input type='radio' value='否' name='"+key+"' checked>否</input></td>";
    					}else if(parsedJson[i][key]=="只读"){
    						billList =billList+"<td name="+idValue+" class="+key+idValue+"><input type='radio' value='读写' name='"+key+"'>读写</input>    <input type='radio' value='只读' name='"+key+"'  checked>只读</input></td>";
    						//console.log(key+"=="+parsedJson[i][key]);
    					}else if(parsedJson[i][key]=="读写"){
    						billList =billList+"<td name="+idValue+" class="+key+idValue+"><input type='radio' value='读写' name='"+key+"' checked>读写</input>    <input type='radio' value='只读' name='"+key+"'>只读</input></td>";
    						//console.log(key+"=="+parsedJson[i][key]);
    					}else if(key=="versionControl"){
    						versionController = parsedJson[i][key];
    					}else if(key=="dept"){
    						var alldept = $("#dept").val();
    						var deptSplit = alldept.split(",");
    						var roleSplit = parsedJson[i]["dept"].split(",");				
    						//可见部门
    						var roleGroup = "";
    						//获取所有部门，判断获取的部门是否被包含	        		        	
        		        	for(var c=0;c<deptSplit.length;c++){
        		        		if(roleSplit.indexOf(deptSplit[c])!=-1){
            	    				roleGroup = roleGroup + "<input class='check"+idValue+"' type='checkbox' value='"+deptSplit[c]+"' checked='checked'></input>"+"&nbsp;"+deptSplit[c]+"&nbsp;&nbsp;"
            	    			}else{
            	    				roleGroup = roleGroup + "<input class='check"+idValue+"' type='checkbox' value='"+deptSplit[c]+"'></input>"+"&nbsp;"+deptSplit[c]+"&nbsp;&nbsp;"
            	    			}
        		        	}
        		        	billList =billList+"<td name="+idValue+" class="+key+idValue+">"+roleGroup+"</td>";
    					}else{
    						if(key=="id"){
    							idValue = parsedJson[i][key];
    							billList =billList+"<td name="+idValue+" class="+key+"><a style='cursor:pointer' onclick='getInfoId("+parsedJson[i][key]+")'>"+parsedJson[i][key]+"</a></td>";				
    						}else{
    							billList =billList+"<td name="+idValue+" class="+key+idValue+">"+parsedJson[i][key]+"</td>";
    						}
    					}			
    				}
    				//判断当前登录用户是否属于该条记录的评审部门
    				if($("#userDept").val()==roleDept){
    					billList = "<tr>"+billList+"<td onclick='update("+versionController+","+idValue+");' style='cursor:pointer;'>提交</td>"+"</tr>";
    				}else{
    					billList = "<tr>"+billList+"<td></td>"+"</tr>";
    				}
    				
    			} 
    			billList = billTitle+"<tbody>"+billList+"</tbody>";//拼接表内容	
    			$("#tableContent").html("<table id='table' class='table table-striped table-bordered table-hover'>"+billList+"</table>");
    		    //双击编辑
    		    
    		    $("#table").find("td").bind("dblclick",function(){  
    		    	var id = $(this).attr("name");
    		        var input ="<input type='text' id='temp"+id+"' value="+$(this).text()+">";
    		        var select = "<select id='status"+id+"' style=''></select>";
    		        var selectRole = "<select id='role"+id+"' style=''></select>";
    		        var businessstatus = $(this).text();    		        
    		        //alert($(this).text());//获取该字段的值
    		        //alert($(this).attr("class"));
    		        //权限双击编辑
    		        var role = $("#getInfoTable").text()+id; 
    		        //id、可见部门不允许编辑
    		        if($(this).attr("class")=="id"||$(this).attr("class")=="dept"){
    		        	return false;
    		        }
    		        //alert($(this).find("input").prop("type"));
    		        if($(this).find("input").prop("type")=="radio"||$(this).find("input").prop("type")=="checkbox"){
    		        	return false;	
    		        }
    		        //需求状态双击编辑
    		        if($(this).attr("class")=="status"+id){
    		        	//判断权限(评审部门是否是当前登录用户所在的部门)
    		        	//待修改，改成获取当前按钮的前一个td的text值
    		        	//alert($("#userDept").val()+"=="+$(".role"+id).text());
    		        	if($("#userDept").val()==$(".role"+id).text()||$("#userDept").val()==$("#role"+id).val()){
    		        		$(this).text(""); 
        		        	$(this).append(select);
        		        	$("select#status"+id).focus(); 
        		        	$.ajax({
        		        		url:"/queryBusiness",
        		        		type:"post",
        		        		success: function(result){
        		        			$("#status"+id).empty(); 
        		        			$("#status"+id).append("<option value=''></option>");
        		        			$.each(result[0].data, function (i, n)
        		        	    	{
        		        	    		$("#status"+id).append("<option value="+n.businessstatus+">"+n.businessstatus+"</option>");
        		        	    	});
        		        			if(businessstatus==""){
        		        				
        		        			}else{
        		        				$("#status"+id).find("option:contains("+businessstatus+")").attr("selected",true);
        		        			}   			
        		        		}
        		        	});
    		        	}else{
    		        		alert("您无修改权限~~");
    		        		return false;
    		        	}
    		        	//console.log("状态");
    		        	
    		        }else if($(this).attr("class")=="role"+id){
    		        	$(this).text(""); 
    		        	$(this).append(selectRole);
    		        	$("select#role"+id).focus(); 
    		        	$.ajax({
    		        		url:"/queryDept",
    		        		type:"post",
    		        		success: function(result){
    		        			$("#role"+id).empty(); 
    		        			$("#role"+id).append("<option value=''></option>");
    		        			$.each(result[0].data, function (i, n)
    		        	    	{
    		        	    		$("#role"+id).append("<option value="+n.name+">"+n.name+"</option>");
    		        	    	});
    		        			if(businessstatus==""){
    		        				
    		        			}else{
    		        				$("#role"+id).find("option:contains("+businessstatus+")").attr("selected",true);
    		        			}   			
    		        		}
    		        	});
    		        }else{
    		        	$(this).text("");      
        		        $(this).append(input);  
        		        $("input#temp"+id).focus();  
        		        $("input").blur(function(){
        		        	//console.log($(this).prop("type"));
        		        	if($(this).prop("type")=="text"){
        		        		if($(this).val()==""){  
            		            	//$(this).remove();  
            		        	}else{     		        		
            		        		$(this).closest("td").text($(this).val());
            		        	}  
        		        	}     	
        		    	});
    		        }   		          
    		    });
    		}
    	});    	
    }
    
    //传id到新增页面
    function getInfoId(id){
    	location.href="/infoByIdHtml?id="+id+"&infoTableName="+$("#getInfoTable").val();
    }
    
    //修改
    function update(versionControl,getid){
    	var count = 1;
    	var updateSql = "";
    	var getidLength = getid+"";
    	getidLength = getidLength.length;//获取id的长度，然后拼接的字段列名去掉id的长度
    	var role = $("#getInfoTable").text()+getid;//获取表的td的class
    	$("#table td").each(function(i, v){    //针对tb表格下的所有td进行遍历         
    		if($(this).attr("name")==getid){
    			var chooseValue = "";
            	console.log(i);
            	if(count>1){
            		if($(this).attr("class")=="status"+getid){
            			var statusLength = $(this).attr("class").length;
            			if($("#status"+getid).val()==null){
            				updateSql = updateSql + $(this).attr("class").substring(0,statusLength-getidLength)+"='"+$(this).text()+"',";
            			}else{
            				updateSql = updateSql + $(this).attr("class").substring(0,statusLength-getidLength)+"='"+$("#status"+getid).val()+"',";
            			}   
            			
            		}else if($(this).attr("class")=="role"+getid){   
            			var roleLength = $(this).attr("class").length;
            			if($("#role"+getid).val()==null){
            				updateSql = updateSql + $(this).attr("class").substring(0,roleLength-getidLength)+"='"+$(this).text()+"',";           		            
            			}else{
            				updateSql = updateSql + $(this).attr("class").substring(0,roleLength-getidLength)+"='"+$("#role"+getid).val()+"',";
            				role = $("#role"+getid).val();
            			}
            		}else if($(this).attr("class")=="dept"+getid){
            			$(".check"+getid).each(function(){
            				if($(this).prop('checked')){
            					chooseValue = chooseValue + $(this).val() +","
            				}
            			});
            			if(chooseValue.length>0){
            				var roleLength = $(this).attr("class").length;
            				chooseValue = chooseValue.substring(0,chooseValue.length-1);
            				$("#chooseValue").val(chooseValue);
            				updateSql = updateSql + $(this).attr("class").substring(0,roleLength-getidLength)+"='"+chooseValue+"',";
            			}else{
            				alert("请至少选择一个执行部门");
            				return false;
            			}
            		}else if($(this).find("input").prop("type")=="radio"){
            			var columnLength = $(this).attr("class").length;
            			updateSql = updateSql + $(this).attr("class").substring(0,columnLength-getidLength)+"='"+$("input[name='"+$(this).attr("class").substring(0,columnLength-getidLength)+"']:checked").val()+"',";
            		}else{
            			var columnLength = $(this).attr("class").length;
            			updateSql = updateSql + $(this).attr("class").substring(0,columnLength-getidLength)+"='"+$(this).text()+"',";
            		}
            		//alert($("#getInfoTable").val()+"--"+$(this).attr("class")+"--"+$(this).text());//返回当前td下的值	
            	}
            	//else{
            		//getid = $(this).text();
            	//}
            	count++;
            }
           // alert("name=="+$(this).attr("name"));         
    	});
    	updateSql = updateSql.substring(0,updateSql.length-1);
    	//alert(updateSql+"--updateSql"+"版本号=="+versionControl+"--id="+getid);
    	//判断版本号并更新数据
       	$.ajax({
    		url:"/updateInfoById",
    		type:"post",
    		data:{tablename:$("#getInfoTable").val(),canshu:updateSql,id:getid,version:versionControl,dept:role,chooseValue:$("#chooseValue").val()},
    		success :function(result){
    			if(result==0){
    				alert("不是最新数据,更新数据~~");
    				window.location.reload();
    			}else{
    				alert("修改成功~~");
    				window.location.reload();
    			}
    		}
    	}); 
    }
    
    //获取部门下拉列表 
    function getDept(){
     $.ajax({
     	url:"/queryDept",
     	type:"post",
     	async: false,
     	success: function(result){
     		var deptname = "";
     		$.each(result[0].data, function (i, n)
     	    {
     			deptname = deptname + n.name+",";
     	    });
     		if(deptname.length>0){
     			deptname = deptname.substring(0,deptname.length-1);
     		}    			
     		$("#dept").val(deptname);   
     	}     		
     });
    }
    
</script>
</html>
